.header {
  width: 100%;
  height: 240px;   
  overflow: hidden;
  background-color: #f9b000;
}
  
.header-img {
  width: 100%;
  height: 100%;
  object-fit: cover; 
}
  
@media (max-width: 768px) {
  .header-img {
    object-fit: contain;
  }
}
